<html>
  <body>
    <form action="/event_push" method="POST">
      <div>
        Event Name:
        <input type="text" name="event_name" />
      </div>
      <div>
        Club Name:
        <input type="text" name="club_name" />
      </div>
      <div>
        Poster Name:
        <input type="text" name="posterName" />
      </div>
      <div>
        Venue:
        <input type="text" name="venue" />
      </div>
      <div>
        Start Time:
        <input type="text" name="start_time" />
      </div>
      <div>
        End Time:
        <input type="text" name="end_time" />
      </div>
      <div>
        Message:
        <input type="text" name="msg" />
      </div>
      <div>
        Paid:
        <input type="text" name="paid" />
      </div>
      <div>
        Date:
        <input type="date" name="date" />
      </div>
      <input type="submit" />
    </form>
  </body>
</html>
